.customer {
    border-left : 1px solid #DDDDDD;
}
.customer-image {
    max-width: 128px;
    max-height: 128px;
    margin: 0 auto;
}

.customer-name {
    font-size: 1.25rem;
}

.customer-title {
    font-size: 1.0rem;
}