<template [ngIf]="searching">
  searching...
</template>  
<div class="customer text-xs-center" *ngIf="customerFound">
  <img class="media-object customer-image rounded-circle" [src]="customer?.image_link || 'http://placebeard.it/64/notag'" alt="{{customer.first_name}} {{customer.last_name}}" *ngIf="customer" />
  <h3 class="customer-name">{{customer?.first_name}} {{customer?.last_name}}</h3>
  <h4 class="customer-title">{{customer?.title}}</h4>
  <p class="lead company-name">
    <span>{{customer?.company_name }}</span>
  </p>
</div>
<template [ngIf]="search && !searching && !customerFound">
  Customer Not Found...
</template>