<div id="app-login">
    <div class="row flex-items-xs-middle">
        <div class="col-xs">
        </div>
        <div class="col-xs-12 col-sm-4">
            <h1 class="brand pos-f-t"><img src="./assets/images/coppia-brand.png" alt="Coppia"></h1>
            <form class="form-signin" name="signin">
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="username" class="sr-only">Username</label>
                <input [(ngModel)]="user.username" id="username" name="username" 
                    type="string" class="validate form-control" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input [(ngModel)]="user.password" id="password"  name="password"
                    type="password" class="validate form-control" placeholder="Password" required>
                <span>{{errorMsg}}</span>
                <button (click)="login()" 
                    class="btn btn-lg btn-primary btn-block" 
                    type="submit" name="action">Login</button>   
            </form>
        </div>
        <div class="col-xs">
        </div>
    </div>

</div>