app-snippet-menu {
    position: absolute;
    top:0;
    left:0;
}

.tooltip-inner {
    background-color: #1f2735;
}


.btn {
    border: solid 1px #1f2735;
    background-color: #1f2735;
    color: #ffffff;
}

.btn:hover {
    border: solid 1px #1f2735;
    background-color: #1f2735;
    color: #ffffff;
}