<div class="container-fluid" style="padding-bottom: 50px;">
  <div class="col-lg-12">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon1">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="col-lg-8">
      <h4>Validated Ideas</h4>
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">Need to improve onboarding in order to increase activation</div>
          <div class="panel-body">
            <ul>
              <li>
                <b>Charlotte Bohnett</b><br>
                We didn't know how to implement the first step<br>
                MAY 1
              </li>
            </ul>
            <ul>
              <li>
                <b>Google Analytics</b><br>
                In Q1 we found that activation rates fell...<br>
                MAY 3
              </li>
            </ul>
            <ul>
              <li>
                <b>Kissmetrics</b><br>
                In Q1 we found that activation rates fell...<br>
                MAY 6
              </li>
            </ul>
            <div class="row" style="font-size:10px;">
              <div class="col-lg-5">
                Josephine Smith
              </div>
              <div class="col-lg-3">
                APR 7
              </div>
              <div class="col-lg-4">
                <i class="fa fa-line-chart" aria-hidden="true"></i> 7&nbsp;
                <i class="fa fa-heart-o" aria-hidden="true"></i> 5&nbsp;
                <i class="fa fa-share" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">Making changes to marketing automation could minimize churn</div>
          <div class="panel-body">
            <ul>
              <li>
                <b>Kissmetrics</b><br>
                In Q1 we found that activation rates fell...<br>
                MAY 6
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">

      <h4>Recent Interviews</h4>
    
    <div class="row">
      <div class="col-lg-12">
        Interview 1
      </div>
      <div class="col-lg-12">
        Interview 2
      </div>
    </div>
  </div>
</div>


<!-- <header class="hero-unit" id="banner">
  <div class="container">
    <h1>Coppia!</h1>
    <p class="lead">coppia text</p>
  </div>
</header> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->
