<!--<app-snippet-menu [config]="snippetMenuConfig" (onMakeSnippet)="makeSnippet($event)"></app-snippet-menu>-->
<div class="row flex-items-xs-right mb-1">
  <div class="col-xs-2">
    <button class="btn btn-primary float-xs-right" role="button" (click)="save()">{{ idea.id > 0 ? 'Update' : 'Save' }} Idea</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-xs-12">
    <h1 class="idea-title" [(contenteditableModel)]="idea.title" [defaultValue]="'Whats the idea?'"></h1>
  </div>
  <div class="col-xs-6 col-lg-6">
    <label>GOAL</label><br>
    <div class="idea-goal" [(contenteditableModel)]="idea.goal" [defaultValue]="'Whats the goal?'"></div>
  </div>
  <div class="col-xs-6 col-lg-6">
    <label>STATUS</label><br>
    <!--<div class="idea-status" [(contenteditableModel)]="idea.status" [defaultValue]="'Idea Status'"></div>-->
    <div class="idea-status">
      <select [(ngModel)]="idea.status">
        <option value="UNTESTED">UNTESTED</option>
        <option value="TESTING">TESTING</option>
        <option value="TESTED">TESTED</option>
      </select>
    </div>    
  </div>
  <div class="col-xs-12 col-lg-12">
    <div class="snippet-preview-list">
      <app-snippet-idea-list [ideaId]="idea.id"></app-snippet-idea-list>
    </div>
  </div>
</div>
<template ngbModalContainer></template>