<!--<app-snippet-menu [config]="snippetMenuConfig" (onMakeSnippet)="makeSnippet($event)"></app-snippet-menu>-->
<div class="row flex-items-xs-right mb-1">
  <div class="col-xs-2">
    <button class="btn btn-secondary float-xs-right" role="button" (click)="save()">Save Idea</button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-xs-12">
    <h1 class="idea-title" [(contenteditableModel)]="idea.title" [defaultValue]="'Whats the idea?'"></h1>
  </div>
  <div class="col-xs-6 col-lg-6">
    <label>GOAL</label><br>
    <div class="idea-goal" [(contenteditableModel)]="idea.goal" [defaultValue]="'Whats the goal?'"></div>
  </div>
  <div class="col-xs-6 col-lg-6">
    <label>STATUS</label><br>
    <div class="idea-status" [(contenteditableModel)]="idea.status" [defaultValue]="'Idea Status'"></div>    
  </div>
  <div class="col-xs-12 col-lg-12">
    <div class="snippet-preview-list" style="margin-top: 50px;">
      <app-snippet-idea-list [snippet]="snippet" *ngFor="let snippet of snippets"></app-snippet-idea-list>
    </div>
  </div>
</div>
<template ngbModalContainer></template>