label {
    font-size: .75rem;
    color: #94979e;
}

select {
    background-color: #fff;
    border: 0;
    color: #4c525d;
}

h1 {
    color: #94979e;
}

.idea-goal {
    color: #4c525d;
}

.snippet-preview-list {
    margin-top: 50px;
    /*font-size: 1.34em;*/
}

>>> .editable .snippet-preview { 
    margin-bottom: 1rem;
    border: solid 1px #dbdcdf;
    padding: 5px;
}
