<div class="interview-preview">
  <div class="media">
    <div class="media-body">
      <p class="interview-customer">{{customer?.first_name}} {{customer?.last_name}}</p>  
      <p class="customer-title">
        <span>{{customer?.title || 'no title'}}</span>
      </p>  
    </div>
    <div class="media-right media-middle">
      <img class="media-object customer-image img-circle" [src]="customer?.image_link || 'http://placebeard.it/64/notag'" alt="{{customer.first_name}} {{customer.last_name}}" *ngIf="customer" />
    </div>
  </div>
  <div class="interview-preview-footer">
    <span class="profile-tag">
      <img class="profile-image img-circle" [src]="'http://placebeard.it/64/notag'" alt="placeholder" />
      {{interview.created_by}}
    </span>
    {{interview.created_date | amDateFormat:'MMM D'}}
  </div>
</div>