:host  {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index:  1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;    
    background-color: #1f2735;/* #4c525d;*/
    border-right: 1px solid #eee;
    text-align: center;
}
:host,
:host a {
    color : #FFFFFF;
}
nav>li>a {
    line-height: .65em;
    text-decoration: none;
}
.nav>li>a>i {
    display:block;
    font-size:2em;
}
.nav>li>a:hover,
.nav>li>a:focus,
.nav>li>a:active,
.nav>li>a.active {
    color:#5f7e8b;
    text-decoration: none;
    background-color: transparent!important;
}

:host .settings {
    position: absolute;
    bottom: 0;
    width: 100%;
}

:host .brand img {
    max-width:100%;
}