  <h1 class="brand"><img src="./assets/images/coppia-brand.png" alt="Coppia"></h1>
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item"><a class="nav-link" [routerLink]="['/dashboard']" routerLinkActive="active"><i data-icon="&#xe006;"></i><span>Home</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/add']" routerLinkActive="active"><i data-icon="&#xe035;"></i><span>Add</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/ideas']" routerLinkActive="active"><i data-icon="&#xe00d;"></i><span>Ideas</span></a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/interviews']" routerLinkActive="active"><i data-icon="&#xe057;"></i><span>Interviews</span></a></li>
  </ul>
  
  <div class="settings">
    <ul class="nav">
      <li class="nav-item"><a class="nav-link" [routerLink]="['/settings']" routerLinkActive="active"><i data-icon="~"></i><span>settings</span></a></li>
    </ul>
  </div>
