<aside>
  <h1 class="brand"><img src="./assets/images/coppia-brand.png" alt="Coppia"></h1>
  <nav>
    <ul class="nav">
      <li><a [routerLink]="['/']"><i data-icon="&#xe006;"></i><span>Home</span></a></li>
      <li data-icon="&#xe035;"></li>
      <li><a [routerLink]="['/ideas']"><i data-icon="&#xe00d;"></i><span>Ideas</span></a></li>
      <li data-icon="&#xe057;"></li>
    </ul>
  </nav>
  <div class="settings">
    <ul class="nav">
      <li><a><i data-icon="~"></i><span>settings</span></a></li>
    </ul>
  </div>
</aside>