.side-bar:host  {
    padding: 1em;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #1f2735;
    border-right: 1px solid #eee;
    text-align: center;
}
:host .brand img {
    width: 100%;
}

:host,
:host a {
    color : #FFFFFF;
}
.nav>li>a {
    line-height: 1.25em;
    text-decoration: none;
}
.nav>li>a>i {
    display:block;
    font-size:2em;
}
.nav>li>a:hover,
.nav>li>a:focus,
.nav>li>a:active,
.nav>li>a.active {
    color:#5f7e8b;
    text-decoration: none;
    background-color: transparent!important;
}

:host .settings {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
}