/* You can add global styles to this file, and also import other style files */
@import './assets/styles/webfont.css';

body {
    font-family: 'Roboto', sans-serif;
}

.loading {
    background-color: #1f2735;
    color: #FFFFFF;
    height: 100vh;
}
.loading .brand img { 
    display:block;
    margin:0 auto;
    max-width: 150px; 
}
.stage {
    background-color: #ffffff; 
}

/* Masonry Layout */
.masonry {
 -moz-column-width: 25em;
 -webkit-column-width: 25em;
 -moz-column-gap: .5em;
 -webkit-column-gap: .5em; 
  
}

.brick {
 display: inline-block;
 margin:  .5em;
 padding:  0; 
 width:98%;
}
/* End Masonry Layout */

/* Extend Bootstrap */
.card.preview { cursor:pointer; }
.card:hover {
    border-color: #5f7e8b;
}

.card .card-footer {
    background-color: transparent;
    border:0;
}
/* End Extend Bootstrap */