/* You can add global styles to this file, and also import other style files */
@import './assets/styles/webfont.css';

body {
    font-family: 'Roboto', sans-serif;
    color: #4c525d;
}

.loading {
    background-color: #1f2735;
    color: #FFFFFF;
    height: 100vh;
}
.loading .brand img { 
    display:block;
    margin:0 auto;
    max-width: 150px; 
}
.stage {
    background-color: #ffffff; 
}

.v-scroll {
    overflow-y: auto;
}

[contenteditable]:focus {
    outline: transparent;
}

/* Extend Bootstrap */
.card { cursor:pointer; }
.card:hover {
    border-color: #5f7e8b;
}

.card .card-footer {
    background-color: transparent;
    border:0;
    padding-top:0;
}

.btn-primary {
    border: solid 1px #fff;
    background-color: #fd9a2b;
    color: #fff;
}

.btn-primary:hover {
    border: solid 1px #fd9a2b;
    background-color: #ffffff;
    color: #4c525d;
    font-family: 'Roboto', sans-serif;
}

/* End Extend Bootstrap */