<!-- <div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Interviews:</h1>
    <ul class="nav nav-tabs col-md-4 col-lg-4 col-sm-6" ng-repeat="interview in $ctrl.interviews">
      <li>
          <a ui-sref="interviews_edit({id:interview._id})" uib-tooltip="{{interview.description}}">{{interview.name}}</a></li>
          <a href="#" uib-tooltip="Delete Interview"><button type="button" class="close" ng-click="$ctrl.deleteInterview(interview)">&times;</button></a>
      </li>
    </ul>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Interviews:</h1>
    <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="interview in $ctrl.interviews">
      <li><a href="#" uib-tooltip="{{interiew.description}}">{{interview.name}}<button type="button" class="close" ng-click="$ctrl.deleteInterview(interview)">&times;</button></a></li>
    </ul>
  </div>
</div>
