<div class="media snippet-preview">
  <div class="media-left media-middle">
    <img class="media-object customer-image rounded-circle" [src]="customer?.image_link || 'http://placebeard.it/64/notag'" alt="{{customer.first_name}} {{customer.last_name}}" *ngIf="customer" />
  </div>
  <div class="media-body">
    <p class="snippet-customer">{{customer?.first_name}} {{customer?.last_name}}</p>  
    <p class="snippet-text">
      <span>{{snippet.text}}</span>
    </p>
    <p class="snippet-date" *ngIf="!editable">{{snippet.created_datetime | amDateFormat:'MMM D'}}</p>
    <p class="buttons" *ngIf="editable"><button (click)="remove(snippet, index)" class="btn btn-sm btn-link">remove</button></p>
  </div>
</div>