.snippet-preview {
    margin-bottom: 1rem;
}
.snippet-preview-list app-snippet-preview:last-of-type .snippet-preview {
    margin-bottom:0;
}

.snippet-preview  .customer-image {
    width: 32px;
}
.snippet-preview  .snippet-text {
    display: table;
    table-layout: fixed;
    width: 95%;
    white-space: nowrap;
}
.snippet-preview  .snippet-text > * {
    display: table-cell;
    overflow: hidden;
    text-overflow: ellipsis;
}

.snippet-preview  .snippet-customer {
    font-weight: bold;
}

.snippet-preview  .snippet-date {
    text-transform: uppercase;
}

.snippet-preview  .snippet-customer,
.snippet-preview  .snippet-text,
.snippet-preview  .snippet-date {
    margin: 0 0 0;
}
.snippet-preview .buttons {
    text-align: right;
}